# System files #
################
.DS_Store

# Compiled sources #
####################
target
classpath.out
dependency-reduced-pom.xml
*.jar

# Eclipse metadata #
####################
.classpath
.project
.settings

# Editor temporary #
####################
*.swp

*.jar
*-learned.psl

out*.txt
out*.err
sort*.txt
inferred-predicates/
results*
